h1 {
  text-align: center;
  font-size: 64px;
}

form {
  text-align: center;
}

.hidden {
  display: none;
}

.information img {
  display: block;
  margin: 20px auto;
}

.search-results {
  display: block;
  width: 100%;
}

.container-img,
.container-info {
  display: inline-block;
  width: 49%;
}

dd, dt {
  margin: 0;
  display: block;
  text-align: center;
}
